<div>

    {% for item in val %}

        <div>
            <!-- url format will be 'attribute name of the view' value to be access -->
            {% if request.user == item.host %}
            <a href="{% url 'update_form' item.id %}">Edit</a>
            <a href="{% url 'delete_form' item.id %}">Delete</a>
            {% endif %}
            <a href="{% url 'user_profile' item.host.id %}">@ {{item.host.username}}</a>
            <p><a href="{% url 'room' item.id %}">{{item.name}}</a></p>
            <p>{{item.description}}</p>
            <hr>
        </div>

    {% endfor %}

</div>