{% extends 'main.html' %}
{% block information %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="room-container">
    <div>
        <h1>{{room.name}}</h1>
        <div>

            <p>Id no {{room.id}}</p>
            <p>Name {{room.name}}</p>
            {% if room.description %}
            <p>Description: {{room.description}}</p>
            {% else %}
            <p> Please add Description for {{room.name}}</p>
            {% endif %}

        </div>

        <div class="commment-wrapper">
            <h2>Comments</h2>
            <hr>
            {% for roommessage in roommessages %}
            {% if request.user == roommessage.user %}
                <a href="{% url 'update_message' roommessage.id %}">Edit</a>
                <a href="{% url 'delete_message' roommessage.id %}">Delete</a>
            {% endif %}
            <small>@{{roommessage.user}} - {{roommessage.created|timesince}} ago</small>
            <p>{{roommessage}}</p>
            <hr>
            {% endfor %}

        </div>
        {% if request.user.is_authenticated %}
        <div>
            <form action="" method="post">
                {%csrf_token%}
                <input type="text" name="body" placeholder="Give a Comment....👀">
            </form>
        </div>
        {% endif %}

    </div>
    <div>
        <h3>Participants</h3>
        <hr>
        {% for user in participants %}
            <p>@ {{user.username}}</p>
        {% endfor %}
    </div>

</div>
{% endblock %}